@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  font-family: Montserrat, Avenir, sans-serif;
}

.logotitle {
  letter-spacing: 12px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: 180%;
}

.paragraphbox {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 180%;
}

.teammember {
  font-size: 15px;
  font-weight: 700;
  line-height: 180%;
  text-align: center;
  text-transform: uppercase;
}

.teambox {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 200%;
}

.imagesize {
  overflow: hidden; 
  height:200px;
  width:200px;
}